@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
body
{
	background-image: url("https://st2.depositphotos.com/4021867/5810/v/600/depositphotos_58105035-stock-illustration-blue-flowers-9.jpg");
}

	.login_div1 , .login_div2
	{
		background: cornflowerblue;
		padding: 10px;
		float: none;
		border-radius: 15px;
width: 500px;
height:80;
	}

h1{
	font-family: 'Glass Antiqua', cursive;
	color: black;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
border-radius: 10px;
border-top: 10px solid #8b455a;
padding: 10px;
float: none;
height:80;
text-align: left;
}
